ul.social-network{
    list-style: none;
    padding: 0;
  }
  
  ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
  }
  
  .fa{
    font-size: 25pt;
    color: #6C757D;
    padding: 10px;
  }
  .fa-github-alt:hover{
    color: navy;
  }
  
  .fa-instagram:hover{
    color: #C13584;
  }
  
  .fa-linkedin-square:hover{
    color: #0072b1;
  }