<footer class="page-footer font-small bg-light pt-4">

    <div class="container">
  
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <h5 class="text-secondary">Nos siga nas redes sociais!</h5>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
  
          <ul class="social-network">
            <li>
              <a href="https://github.com/arieladimitria" target="_blank" class="icoGit">
                <i class="fa fa-github-alt" aria-hidden="true"></i>
              </a>
            </li>
  
            <li>
              <a href="https://www.instagram.com/arieladimitria" target="_blank" class="icoInstagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
  
            <li>
              <a href="https://www.linkedin.com/in/ariela-dimitria/" target="_blank" class="icoLinkedin">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
  
        </div>
      </div>
    </div>
  
    <div class="footer-copyright bg-secondary text-center py-3">
      <span class="text-light"> © 2022 Copyright: </span>
      <a class="text-light" target="_blank" href="https://github.com/arieladimitria">Ariela Dimitria</a>
    </div>
  
  </footer>